@model IEnumerable<Order>

@{
    ViewData["Title"] = "Pedidos";
}

<div class="row">
    <div class="col-sm">
        <div class="p-1 text-dark text-center my-2 headerColor">
            <h4>
                <small>Pedidos</small>
            </h4>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.IsPaid)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.IsDelivery)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.TotalOrder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.IsPaid)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.IsDelivery)
                </td>
                <td class="text-right">
                    @item.TotalOrder.ToString("c")
                </td>
                <td>
                    <a asp-action="Delivery" asp-route-id="@item.Id" asp-route-checkDelivery="@(!item.IsDelivery)"
                       class="fas fa-shipping-fast btn btn-outline-@(item.IsDelivery ? "success" : "danger") float-right @(!item.IsPaid ? "disabled" : "")" style="margin-left:10px"
                       title="Marcar como @(item.IsDelivery ? "não entregue" : "entregue")"></a>

                    <a asp-action="Payment" asp-route-id="@item.Id" asp-route-checkPayment="@(!item.IsPaid)"
                       class="fas fa-money-bill-alt btn btn-outline-@(item.IsPaid ? "success" : "danger") float-right @(item.IsDelivery ? "disabled" : "")" style="margin-left:10px"
                       title="Marcar como @(item.IsPaid ? "não pago" : "pago")"></a>

                    <a asp-action="Details" asp-route-id="@item.Id" class="fas fa-info-circle btn btn-outline-secondary float-right" title="Detalhes"></a>
                </td>
            </tr>
        }
    </tbody>
</table>